* {
	font-family: 'Verdana', sans-serif;
	fonrt-size: 20px;
}


/*external styling*/
.external {
  color: yellow;
        }

/*Set to UPPERCASE using id selector*/
       #capitalized{
        	text-transform: uppercase;
        }


#colored-text {
  background-color: #FFFFFF;
}

.dark-green {
  width: 100%;
  background-color: #b6d4a1;
  padding-block: 5px 5px;
  border-radius: 2px;
} 


/* Adjacent Sibling selector (sibling_element + targeet_element) */
h4+img {
	height: 140px;
	width: 140px;	
	border-radius: 70px;
}


/*Descendant selector (ancestor_element descndant element)*/
    #js-area li {
	color: black;
}


/*Changed font size of h1 using Type Selector*/
span{
	font-size: 30px;
}


/*Changed the letter spacinf using child selector*/
body > section > ul{
list-style: none;
	letter-spacing: 10px;
}

/* Aligned last paragraph using generic sibling selector */
ul ~ p{
	color: black;
	text-align: center;
}

/*Atttribute selectors*/
        [attr-selector]{
     border: 2px solid #7393B3;
        }


